#!/usr/bin/env bash
use asdf

export AWS_REGION=eu-west-2
export CDK_DEFAULT_ACCOUNT=521368350234
export CDK_DEFAULT_REGION=eu-west-2
export CMYK_REPO="cmykmoda"
export CMYK_BRANCH="main"
export CMYK_OWNER="howzat"